    #ten {
        display: inline;
    }
    #ten h1 a{
        float: left;
        text-decoration: none;
        font-family:"Times New Roman";
        color: pink;
        width: 40%;
        margin-top: 20px;
        margin-left: 20px;
    }
    #ten a img{
        width:50px;
        height: 50px; 
        float: left; 
        margin-right: 10px;
        border-radius: 25px;
        padding: 8px; 
        border: 2px solid pink; 
    }
         
         .menu-wrap{
            margin-top: 40px;
            text-align: center;
            font-family: Raleway;
            background-color: pink;
            margin-left: 50px;
            height: 450x;
        }
      
        .menu {
        
        width:990px;
        margin:0px auto;
        }
        .menu li {
        margin: 0 auto;
        list-style:none;
        }
        .menu ul li a{
            text-decoration: none;
            font-family:'Times New Roman', Times, serif;
            font-size: 16pt;
        }
        .menu a {
    transition: 0.3s ease;
        color:black;
        text-decoration: none;
        font-size: 20px;
    text-decoration: none;
    
        }
        .menu li:hover > a, .menu .current-item > a {
        text-decoration:none;
        color:white;
     
        }
        .menu .arrow {
        font-size:11px;
        line-height:0%;
        }
        /*----- Top Level -----*/
        .menu > ul > li {
        display:inline-block;
        position:relative;
        font-size:19px;
        }
        .menu > ul > li > a {
        padding:10px 50px;
        display:inline-block;
        text-shadow:0px 1px 0px rgba(0,0,0,0.4);
        }
        .menu > ul > li:hover > a, .menu > ul > .current-item > a {
        color: pink;
        background:#E1CEE2;
        }
        /*----- Bottom Level -----*/
        .menu li:hover .sub-menu {
        z-index:1;
        opacity:1;
        
        }
        .sub-menu {
        width:130%;
        padding:5px 0px;
        position:absolute;
        top:100%;
        left:0px;
        z-index:-1;
        opacity:0;
        transition:opacity linear 0.15s;
        box-shadow:0px 2px 3px rgba(0,0,0,0.2);
        background:pink;
        }
        .sub-menu li {
        display:block;
        font-size:16px;
        }
        .sub-menu li a {
        padding:10px 30px;
        display:block;
        text-decoration: none;
        text-align: justify;
        font-size: 14pt;
        }
        .sub-menu li a:hover, .sub-menu .current-item a {
        background:#E1CEE2;
        color: pink;
        }

    
/* Slideshow container */
* {box-sizing:border-box}
    .slideshow-container {
        max-width: 1500px;
        position: relative;
        margin: auto;
        text-align: center;
    }
/* Ẩn các slider */
    .mySlides {
    display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.1s ease;
        border-radius: 0 3px 3px 0;
      }
      .prev {
          left: 0;
          border-radius: 3px 0 0 3px;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
/* Định dạng nội dung Caption */
    .text {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* định dạng các chấm chuyển đổi các slide */
    .dot {
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
/* khi được hover, active đổi màu nền */
    .active, .dot:hover {
        background-color: #717171;
    }

/* Thêm hiệu ứng khi chuyển đổi các slide */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 3s;
        animation-name: fade;
            animation-duration: 3s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }                 



    * {
        box-sizing: border-box;
      }
      form.example{
            float: left;
            width: 30%;
            margin-left: 20px;
      }
      form.khungtk{
          height: 50px;
      }
      
      /* Style the search field */
      form.example input[type=text] {
        padding: 10px;
        font-size: 14px;
        border: 1px solid grey;
        float: left;
        width: 70%;
        background: #f1f1f1;
        margin-top: 10px;
      }
      
      /* Style the submit button */
      form.example button {
        float: left;
        width: 30%;
        padding: 10px;
        background: pink;
        color: white;
        font-size: 14px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        height: 38px;
        margin-top: 10px;
      }
      
      
      form.example button:hover {
        background: #6E4D8B;
      }
    
      h2 #cacsanpham{
        text-align: center;
      }
      #cacsanpham {
        margin-left: 580px;
        display: inline;
        text-align: center;
        position: relative;
        font-family: 'Times New Roman', Times, serif; 
        color: black;
        border-bottom: 2px solid #6E4D8B;
        border-top: 2px solid #6E4D8B;
      }
   
      .sp  {
        position: relative;
        text-align: center;
        width: 30%;
        height: 300px;
        margin-left: 35px;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
      } 
    .sp a img{
        width:100%;
        height: 300px;
        border: 3px #6E4D8B;
        border-style:  solid ;
            
    }
    a.anh img:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0; 
    }
    .chu {
        position: absolute;
        top: 60%;
        left: 48%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 33pt;
    }
    .chu2{
        position: absolute;
        top: 80%;
        left: 26%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30pt;
        margin-left: 90px;
    }

    #cactintuc{
        margin-left: 590px;
        display: inline;
        text-align:  center;
        position: relative;
        font-family: 'Times New Roman', Times, serif; 
        color: black;
        border-bottom: 2px solid #6E4D8B;
        border-top: 2px solid #6E4D8B;
      }

      .tt  {
        position: relative;
        text-align: center;
        width: 30%;
        height: 300px;
        margin-left: 35px;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
      } 
    .tt a img{
        width:100%;
        height: 300px;
        border: 3px #6E4D8B;
        border-style:  solid ;
            
    }
    a.anhtt img:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0; 
    }

    .xemtiep{
        float: left;
        margin-left: 200px;
        margin-right: 140px;
        border-radius: 25px;
        padding: 8px; 
        border: 2px solid #6E4D8B; 
        word-wrap: break-word;
    }
    .xemtiep:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0;

    }
      
    .foot ul li{
        display: inline;
    }
    .foot ul li {
        margin-bottom: 10px;
        margin-left: 40px; 
            float: left;
            width: 100%;
            text-decoration: none;
            color: white;
            font-family:"Times New Roman", Times, serif;
            font-size: 14pt;
    }

 
    .foot ul li a{
            float: left;
            width: 60%;
            text-decoration: none;
            color: white;
            font-family:"Times New Roman", Times, serif;
            font-size: 14pt;
    }

    .trang{
        margin-left: 30px;
    }
    .trang h3{
        display: inline;
        color: #6E4D8B;
        text-decoration: none
    }
   .trang h3 a{
    text-decoration: none;
    color: #6E4D8B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19pt;

   }
   #nhaptt #do_rong{
    float: left;
    width: 150px;
}

#cart_items .cart_info {
    border: 3px solid rgb(8, 7, 4);
    margin-bottom: 60px;

  }
    
  #cart_items .cart_info .cart_menu {
    background: rgb(120, 82, 148);
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: center;
  }
  
  #cart_items .cart_info .table.table-condensed thead tr {
    height: 40px;
  }
  
  th {
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
}
td {
    border-bottom: 1px solid gray;
}

#cart_items .cart_info .image {
    padding-left: 30px;
  }
  
  #cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
  }
  
  #cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  
  #cart_items .cart_info .cart_description p {
    color:#696763
  }
  
  #cart_items .cart_info .cart_price p {
    color:#17151a;
    font-size: 18px;
  }
  
  #cart_items .cart_info .cart_total_price {
    color: rgb(196, 13, 38);
    font-size: 20px;
  }
  .cart_product {
    display: block;
    margin: 28px -0px 0px 0px;
  }
  
  .cart_quantity_button a {
    background:#F0F0E9;
    color: pink;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
  }
  
  .cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
  }

  #cart_items .cart_info .cart_description p{
	text-align: center;
} 

#cart_items .cart_info .cart_description h4, #cart_items .cart_info .cart_description p{
	text-align: center;
}



