
#banh{
    margin-top: 50px;
    width: 100%;
}
.sp2{
    float: left;
    width: 220px;
    height: 320px;
    margin-left: 160px;
    margin-bottom: 10px;
    font-family: Monotype Corsiva;
    font-size: 20px;
    color: pink;
}
#anh{
    float: left;
    margin-top:20px;
}
#thongtinsp{
    margin-top: 20px;
}
#spcungloai h2{
    margin-left:50px;
    color: pink;
}

.sp1{
    float: left;
    text-align: justify;
    width: 270px;
    height: 320px;
    margin-bottom: 10px;
    font-family: Monotype Corsiva;
    font-size: 20px;
    color: pink;
}

.val_error{
    color: #FF1F1F;
}

a.anh img:hover{
filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        -khtml-opacity: 0.5;}
        a.linkopacity:hover img {
        filter:alpha(opacity=50);
        -moz-opacity: 1.0;
        opacity: 1.0;
        -khtml-opacity: 1.0;
 }
.tintuc{
    float: left;
    margin-top:20px;
    margin-left: 60px;
}

.noidung{
    color: black; 
    font-size: 20px;
    margin-left:30px;
    text-decoration: none;
}

#tieude{
    width: 60%;
    margin-left: 70px;
   
}

#trang ul  {
    display: inline; 
    color:pink;
   
}
#trang ul h3 a {
    float: left;
    font-weight: both;
    text-decoration: none;
    color:pink;   
}