﻿*{margin:0px; padding: 0px;}
#wrapper {
	width: 1000px;
	min-height: 450px;
	margin: 5px auto;
	padding: 20px;
}
#menu {
	width: 600px;
	height: 30px;
	border-bottom: 2px solid #41577a;
	line-height: 20px;
	margin: 0 auto;
}
#menu ul {
	display: block;
	float: left;
	list-style: none;
}
#menu ul li {
	width: 100px;
	height: 30px;
	border: 1px solid #41577a;
	float: left;
	line-height: 30px;
	text-align: center;
	margin-left: 5px;
	border-radius: 5px 5px 0px 0px;
	width: 200px;

}
#menu ul li a {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #6c0034;
}
legend {
	color: blue;
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
}
feildset {
padding: 10px;
}
#left {
	width: 600px;
	margin: 0 auto;
}
table tr:nth-child(2n+1) {
	background: #c7d9e8;
}