
#banh{
    margin-top: 50px;
    width: 100%;
}
.sp2{
    float: left;
    width: 220px;
    height: 320px;
    margin-left: 160px;
    margin-bottom: 10px;
    font-family: Monotype Corsiva;
    font-size: 20px;
    color: #6E4D8B;
}
#anh{
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}
#giua ul{
    float: left;
    margin-top: 30px;
    font-size: 18px;
   width: 28%;
}

#phai {
    float: left;
    color: #6E4D8B;
    text-align: justify;
    margin-left: 20px;
    width: 20%;
}
#spkhac{
    color: #6E4D8B;
}
.sp1{
    float: left;
    text-align: justify;
    width: 285px;
    height: 320px;
    margin-bottom: 10px;
    font-family: Monotype Corsiva;
    font-size: 20px;
}
.val_error{
    color: #FF1F1F;
}

a.anh img:hover{
filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        -khtml-opacity: 0.5;}
        a.linkopacity:hover img {
        filter:alpha(opacity=50);
        -moz-opacity: 1.0;
        opacity: 1.0;
        -khtml-opacity: 1.0;
 }
.tintuc{
    float: left;
    margin-top:20px;
    margin-left: 60px;
}
.noidung{
    color: black; 
    font-size: 20px;
    margin-left:30px;
    text-decoration: none;
}
.chitiet{
    margin-left: 390px;
    font-size: 18px;
    text-align: justify;
}
#tieude{
    width: 60%;
    margin-left: 70px;
   
}
.ndung1{
    font-size: 18px; 
    text-align: justify;
}
#trang ul  {
    display: inline; 
    color:#6E4D8B;
   
}
#trang ul h3 a {
    float: left;
    font-weight: both;
    text-decoration: none;
    color:#6E4D8B;   
}