  #ttsp{
      float: left;
      height: 200px;
  }
      h2 #cacsanpham{
        text-align: center;
      }
      #cacsanpham {
        margin-left: 580px;
        display: inline;
        text-align: center;
        position: relative;
        font-family: 'Times New Roman', Times, serif; 
        color: black;
        border-bottom: 2px solid #6E4D8B;
        border-top: 2px solid #6E4D8B;
      }
   
      .sp  {
        position: relative;
        text-align: center;
        width: 30%;
        height: 300px;
        margin-left: 35px;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
      } 
    .sp a img{
        width:100%;
        height: 300px;
        border: 3px #6E4D8B;
        border-style:  solid ;
            
    }
    a.anh img:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0; 
    }
    .chu {
        position: absolute;
        top: 60%;
        left: 48%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 33pt;
    }
    .chu2{
        position: absolute;
        top: 80%;
        left: 26%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30pt;
        margin-left: 90px;
    }

    #cactintuc{
        margin-left: 590px;
        display: inline;
        text-align:  center;
        position: relative;
        font-family: 'Times New Roman', Times, serif; 
        color: black;
        border-bottom: 2px solid #6E4D8B;
        border-top: 2px solid #6E4D8B;
      }

      .tt  {
        position: relative;
        text-align: center;
        width: 30%;
        height: 300px;
        margin-left: 35px;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
      } 
    .tt a img{
        width:100%;
        height: 300px;
        border: 3px #6E4D8B;
        border-style:  solid ;
            
    }
    a.anhtt img:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0; 
    }

    .xemtiep{
        float: left;
        margin-left: 200px;
        margin-right: 140px;
        border-radius: 25px;
        padding: 8px; 
        border: 2px solid #6E4D8B; 
        word-wrap: break-word;
    }
    .xemtiep:hover{
        filter:alpha(opacity=50);

        -moz-opacity: 0.5;
        
        opacity: 0.5;
        
        -khtml-opacity: 0.5;}
        
        a.linkopacity:hover img {
        
        filter:alpha(opacity=50);
        
        -moz-opacity: 1.0;
        
        opacity: 1.0;
        
        -khtml-opacity: 1.0;

    }
      
    .foot ul li{
        display: inline;
    }
    .foot ul li {
        margin-bottom: 10px;
        margin-left: 40px; 
            float: left;
            width: 100%;
            text-decoration: none;
            color: white;
            font-family:"Times New Roman", Times, serif;
            font-size: 14pt;
    }

 
    .foot ul li a{
            float: left;
            width: 60%;
            text-decoration: none;
            color: white;
            font-family:"Times New Roman", Times, serif;
            font-size: 14pt;
    }

    .trang{
        margin-left: 30px;
    }
    .trang h3{
        display: inline;
        color: #6E4D8B;
        text-decoration: none
    }
   .trang h3 a{
    text-decoration: none;
    color: #6E4D8B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19pt;

   }
   #nhaptt #do_rong{
    float: left;
    width: 150px;

}

